{% extends "indexTheme.html" %}
{% load i18n %}
{% load quiz_tags %}
{% block title %} {% trans "Question" %} {% endblock %}

{% block content %}

<section id="title" class="peter-river">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Create a New Quiz</h1>
                <p>Create a New QUiz</p>
            </div>
        </div>
    </div>
</section><!--/#title-->
<section id="about-us" class="container">
<form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
     {{ field.label_tag }}
     {{ field|addcss:"form-control" }}
    </div>
    {% endfor %}
    <input type="submit" value="Add Questions" class="btn btn-primary" />
</form>
</section><!--/#about-us-->
{% endblock %}