{% extends "indexTheme.html" %}
{% load i18n %}
{% load quiz_tags %}
{% block title %} {% trans "Quiz Details" %} {% endblock %}

{% block content %}

<section id="title" class="emerald">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Result for {{ sitting.quiz.title }}</h1>
        <p>{{ sitting.quiz.description }}</p>
        <p>Category : {{ sitting.quiz.category }}</p>
      </div>
    </div>
  </div>
</section><!--/#title-->
<section id="about-us" class="container">
  <p>{% trans "User" %}: {{ sitting.user }}</p>
  <p>{% trans "Completed" %}: {{ sitting.end|date }}</p>
  <p>{% trans "Score" %}: {{ sitting.get_percent_correct }}%</p>
  {% if not sitting.quiz.is_active %}
  <p>This quiz is Archived !!!!!</p>
  {% endif %}

  <div class="row">
    {% for question in questions %}
    <div class="col-md-12 course-quiz-question-body">
      <h3 class="course-quiz-question-number">Question {{ forloop.counter }}</h3>
      <h4 dir="auto" class="course-quiz-question-text"> {{ question.content }}  </h4>
      {% if question.figure %}
    <p><img src="{{ question.figure.url }}" alt="{{ question.figure }}"/></p>
    {% endif %}
    <form class="form">
    {% for ans in question.answer_set.all %}
    <h4 class="course-quiz-option"> 
      {% if ans.id|stringformat:"s" == question.user_answer %}
      {% if question.id in sitting.get_incorrect_questions %}
      <span class="course-quiz-answer-incorrect" title="Incorrect" alt="Incorrect"><span class="icon-remove" alt="Incorrect"><span class="accessible-text-for-reader">Incorrect</span></span></span>
      {% else %}
      <td><span class="course-quiz-answer-correct" title="Correct" alt="Correct"><span class="icon-ok" alt="Correct"><span class="accessible-text-for-reader">Correct</span></span></span></td>
      {% endif %}
      {% else %}
      <input type="radio" disabled>
      {% endif %}
         {{ ans.content }}
    </h4>
    {% endfor %}
  </form>

    <div dir="auto" class="course-quiz-question-explanation"><h4><strong>Question Explanation</strong> <br> <p>{{ question.explanation }} </p></h4></div>
  </div>
  {% endfor %}

</div>

</section><!--/#about-us-->
{% endblock %}