{% extends 'indexTheme.html' %}
{% block content %}
<section id="title" class="emerald">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Add Friend</h1>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
			</div>
		</div>
	</div>
</section>
<section id="quizlist">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if not to_username == request.user.username %}
				{% if errors %}<div class="alert alert-danger" role="alert">{{ errors|join:", " }}</div>{% endif %}
				<form method="post">
					{% csrf_token %}
					<input type="hidden" name="to_username" value="{{ to_username }}" />
					<button type="submit" class="btn btn-primary">Send a Friend Request to {{ to_username }} </button>
				</form>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}