{% extends 'indexTheme.html' %}
{% block content %}
<section id="title" class="emerald">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Friend Requests</h1>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
			</div>
		</div>
	</div>
</section>

<section id="quizlist">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% for friendship_request in requests %}
				<ul class="list-group row">
					<li class="list-group-item col-md-6">
						<center>
							{{ friendship_request.from_user }} to {{ friendship_request.to_user }}
							<a href="{% url 'friendship_requests_detail' friendship_request.id %}">
								<button class="btn btn-primary">View</button>
							</a>
						</center>
					</li>
					{% empty %}
				</ul>
				<div>no requests :(</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock %}