{% extends 'indexTheme.html' %}
{% block content %} 
{% load friendshiptags %}

<section id="title" class="emerald">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Your Friends</h1>
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Confirm UnFriend</h4>
			</div>
			
			<div class="modal-body">
				<p>You are about to Unfriend, this procedure is irreversible.</p>
				<p>Do you want to proceed?</p>
				<p class="debug-url"></p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a class="btn btn-danger btn-ok">Delete</a>
			</div>
		</div>
	</div>
</div>
<section id="quizlist">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form id="searchform" action="{% url 'friendship_view_friends' %}" method="get" accept-charset="utf-8" class="form-inline">
					<div class="form-group">
						<input class="searchfield form-control" id="searchbox" name="q" type="text" placeholder="Search">
					</div>
					<button class="searchbutton btn btn-primary" type="submit">Search</button>
				</form>
			</div>
		</div>


		{% for user in object_list %}
		<div class="row">
			<div class="col-md-12">
				{{ user.from_user.username }}
				<a href="#" data-name="{{ user.from_user.username }}" data-href="{% url 'friendship_remove_friend' user.from_user.username %}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-primary">UnFriend</a>
			</div>
		</div>
		{% endfor %}
	</div>

</section>
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
	$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));            
	$('.debug-url').html('Delete Friend: <strong>' + $(e.relatedTarget).data('name') + '</strong>');
});
</script>
{% endblock %} 
